

    

.banner{
    background-image:url("https://wallpapercrafter.com/desktop2/715975-alone-boy-alone-boy-river-side-sitting-lonely.jpg");
    height:500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat ;
}
.title{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    padding:50px;
}
.des{

    
    
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 5px 50px;
    color: #fff;
}
@media (max-width:700px) {
    .banner{
        background-color:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.cutout.pro%2Fphoto-enhancer-sharpener-upscaler&psig=AOvVaw0Q0Te1eu97vHRb0mWLrlfC&ust=1708581882713000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLCHk9Lhu4QDFQAAAAAdAAAAABAh");
        background-position: center;
        height:500px;
        
    }
    .title{
        font-size: large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #f5f5f5;
        padding:50px;
    }
    .des{
        max-width:50px;
        font-size: larger;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        margin: 5px 50px;
        color: #fff;
    }

}


